<script>
  window.addEventListener("load", function () {
    var loader = document.getElementById("loader");
    loader.style.display = "none";

    var content = document.getElementById("content");
    content.style.display = "block";
  });
</script>
  <style>
    .loader {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    .loader img {
      width: 100px;
    }

    #content {
      display: none;
    }

    @media (min-width: 1200px) {
  .header-center .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .row{
    justify-content: space-between;
  }
  
}

@media (max-width: 991px) {
  .header-logo-image-container {
    max-width: 90px;
  }

  .row{
    justify-content: center;
  }

  .header-bottom__search {
    display: none;
  }

  .navPages-container {
    display: none;
  }

  .mobileMenu-toggle {
    display: block;
  }
}

@media (max-width: 767px) {
  .header-logo-image-container {
    max-width: 80px;
  }

  .row{
    display: flex;
    justify-content: center;
  }
  .navbar-phone{
    margin-top: 20px;
  }

  .header-bottom .row {
    justify-content: space-between;
  }

  .header-bottom-right {
    width: auto;
  }
}

@media (max-width: 405px) {
  .header-logo-image-container {
    max-width: 70px;
  }

  .row{
    display: flex;
    justify-content: center;
  }
  .header-center .row {
    justify-content: space-between;
  }

  .logo-container {
    flex: 0 0 auto;
    margin-left: 60px;
    margin-bottom: -20px;
  }

  .navbar-container {
    margin-left: -35px !important;
  }

  .navbar-phone {
    display: block !important;
  }

  .navbar-phone__inner {
    font-size: 0.8em;
  }

}
@media (max-width: 465px) {
  .header-logo-image-container {
    max-width: 70px;
  }

  .row{
    display: flex;
    justify-content: center;
  }
  .header-center .row {
    justify-content: space-between;
  }

  .logo-container {
    flex: 0 0 auto;
    margin-left: 60px;
    margin-bottom: -20px;
  }

  .navbar-container {
    display: block !important;
  }

  .navbar-phone {

    display: block !important;
    margin-left: 70px;
  }

  .navbar-phone__inner {
    font-size: 0.8em;
  }

}
  </style>
<header class="header logo-content--left">
  <div id="loader" class="loader">
    <img src="/public/f6656aa6fdb6b8f905dea0bcc2d71dd8.gif" alt="Loading..." />
  </div>
  <div class="header-center" style="margin-bottom: -17px;">
    <div class="container">
      <div class="row ">
        <div
          class="col-lg-3 col-md-6 col-2 col-8 logo-container"
          style="display: flex; align-items: center; justify-content: center"
        >
          <a
            class="header-logo"
            style="display: block; text-decoration: none; color: inherit"
          >
          <div
          class="header-logo-image-container"
          style="
            max-width: 110px;
            margin-top: -10px;
            padding: 0px; /* Space between image and border */
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <img
            class="header-logo-image"
            src="/public/CORE_LOGO_wbst-removebg-preview.png"
            alt="Ecommerce"
            title="Ecommerce"
            style="max-width: 120%; height: auto; object-fit: contain"
          />
        </div>
        
          </a>
        </div>
        <i class="fa-solid fa-map-location-dot"></i>

        <div
          class="header-bottom__search collapsed-block col-xl-4 col-lg-5 col-md-8 col-4"
        >
          <h5 class="search-info-heading d-sm-none d-xl-none">
            <span class="expander btn btn-outline-secondary">
              <i class="fa fa-search"></i>
            </span>
          </h5>
          <div
            class="sb-quickSearch search-info-content"
            aria-hidden="true"
            tabindex="-1"
            data-prevent-quick-search-close
          >
            <!-- snippet location forms_search -->
            <form class="sb-searchpro">
              <fieldset class="form-fieldset">
                <div class="input-group">
                  <input
                    class="form-control form-input"
                    placeholder="Search the store"
                    autocomplete="off"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      id="btn-quickSearch"
                      type="button"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </fieldset>
            </form>
            <div class="dropdown dropdown--quickSearch">
              <section
                class="quickSearchResults"
                data-bind="html: results"
              ></section>
            </div>
          </div>
        </div>
        <div class="offset-xl-1 col-xl-3 col-12 col-lg-4 col-md-4 navbar-container">
          <div class="navbar-phone d-none d-sm-block" style="display: flex; align-items: center;">
            <svg class="icon-headset_mic" width="40" height="40" style="margin-right: 10px;">
              <use xlink:href="#icon-headset_mic"></use>
            </svg>
            <div class="navbar-phone__inner" style="flex-grow: 1; min-width: 0;">
              <div style="white-space: nowrap;">
                <strong>Call us now : </strong>
                <span class="phone">(+91)&nbsp;&nbsp;8075003693</span>
              </div>
              <div style="white-space: nowrap;">
                <span>Email : </span>
                <a href="mailto:Coremarketingcalicut@gmail.com" style="display: inline-block;">
                  Coremarketingcalicut@gmail.com
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="header-bottom-right col-lg-12 col-md-12 col-12">
          <div class="row ">
            <div class="col-xl-10 col-lg-10 col-sm-8 col-4">
              <nav class="navPages-horizontal navPages-container" id="menu">
                <span class="mobileMenu-close fa fa-times"></span>
                <ul class="navPages-list">
                  <li class="navPages-item navPages-item-page">
                    <a class="navPages-action" href="/"> Home</a>
                  </li>
                  <li class="navPages-item hasMegamenu">
                    <a class="navPages-action has-subMenu"
                    href="/shop">
                      Products

                      <span class="has-subMenu" data-collapsible="navPages-26">
                      </span>
                    </a>
                  </li>
                  <li class="navPages-item hasMegamenu">
                    <a
                      class="navPages-action has-subMenu"
                      onclick="smoothScroll('#shop-brand')"
                      href="#shop-brand"
                    >
                      Shop by brands

                      <span class="has-subMenu" data-collapsible="navPages-24">
                      </span>
                    </a>
                  </li>
                  
                </ul>
              </nav>
              <a
                href="#"
                class="mobileMenu-toggle"
                data-mobile-menu-toggle="menu"
              >
                <span class="mobileMenu-toggleIcon">Toggle menu</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>


            <!-- <div
              class="header-bottom__cart col-xl-2 col-lg-2 col-sm-4 col-8 text-right"
            >
              <ul class="navUser-section">
                <li class="navUser-item">
                  <a class="cart-button cart-button--wishlist" href="">
                    <svg
                      class="icon-heart-o"
                      style="margin-left: 8px"
                      width="19"
                      height="19"
                    >
                      <use xlink:href="#icon-heart-o"></use>
                    </svg>
                  </a>
                </li>

                <li class="navUser-item">
                  <a
                    class="cart-button cart-button--primary"
                    data-options="align:left"
                  >
                    <svg
                      class="icon-shopping-cart"
                      style="margin-left: 7px"
                      width="24"
                      height="24"
                    >
                      <use xlink:href="#icon-shopping-cart"></use>
                    </svg>
                    <span class="countPill cart-quantity">0</span>
                  </a>
                  <div
                    class="dropdown-menu"
                    id="cart-preview-dropdown"
                    data-dropdown-content
                    aria-hidden="true"
                  ></div>
                </li>
              </ul>
            </div> -->