<footer class="footer " role="contentinfo">
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="footer-newsletter text-center">
                    <h5 class="footer-info-heading">Sign up for newsletter </h5>
                    <p class="hidden">Get the latest updates on new products and upcoming sales</p>

                    <form class="form">
                        <fieldset class="form-fieldset">
                            <input type="hidden" name="action" value="subscribe">
                            <input type="hidden" name="nl_first_name" value="bc">
                            <input type="hidden" name="check" value="1">
                            <div class="form-field">
                                <label class="form-label is-srOnly" for="nl_email">Email Address</label>
                                <div class="input-group justify-content-md-center">

                                    <input class="form-input form-control" id="nl_email" name="nl_email"
                                        type="email" value="" placeholder="Your email address">
                                    <div class="input-group-btn">
                                        <input class="btn btn-primary  button--primary " type="submit"
                                            value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <section class="footer-center ">
        <div class="footer-center__first">
            <div class="container">
                <div class="row">

                    <article class="custom_categories col-xs-12 ">
                        <a href="index.html" class="header-logo">
                            <div class="header-logo-image-container">
                                <img class="header-logo-image"
                                    src="/public/Capture.PNG"
                                    alt="Ecommerce SB Core - Home3" title="Ecommerce SB Core - Home3">
                            </div>
                        </a>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of <br> classical Latin literature from 45 BC, making it over 2000 years old.</p>

                        <div class="footer-socials d-flex justify-content-center">
                        </div>

                    </article>

                    <article class="collapsed-block col-lg-2 col-sm-12" data-section-type="footer-webPages">
                        <h5 class="footer-info-heading">
                            Our Shops
                            <span class="expander"><i class="fa fa-chevron-circle-down"></i></span>
                        </h5>

                        <ul class="footer-info-list">
                            <li class="list-item">

                                <a href="#">Product Support</a>
                            </li>

                            <li class="list-item">

                                <a href="#">PC Setup &amp; Support</a>
                            </li>

                            <li class="list-item">

                                <a href="#">Services</a>
                            </li>

                            <li class="list-item">

                                <a href="#">Term &amp; Conditions</a>
                            </li>

                            <li class="list-item">

                                <a href="#">Privacy Policy</a>
                            </li>

                        </ul>
                    </article>


                    <article class="col collapsed-block" data-section-type="footer-webPages">
                        <h5 class="footer-info-heading">
                            Information
                            <span class="expander"><i class="fa fa-chevron-circle-down"></i></span>
                        </h5>
                        <ul class="footer-info-list">
                            <li>
                                <a href="menu-layout/index.html">Layout</a>
                            </li>
                            <li>
                                <a href="blog/index.html">Blog</a>
                            </li>
                            <li>
                                <a href="bonus-page/index.html">Bonus page </a>
                            </li>
                            <li>
                                <a href="sitemap.html">Sitemap</a>
                            </li>
                        </ul>
                    </article>


                    <article class="col collapsed-block" data-section-type="footer-brands">
                        <h5 class="footer-info-heading">
                            Brands
                            <span class="expander"><i class="fa fa-chevron-circle-down"></i></span>
                        </h5>
                        <ul class="footer-info-list">
                            <li>
                                <a href="brands/common-good/index.html">Common Good</a>
                            </li>
                            <li>
                                <a href="brands/ofs/index.html">OFS</a>
                            </li>
                            <li><a href="brands/index.html"><strong>View All</strong></a></li>
                        </ul>
                    </article>



                    <article class="col collapsed-block" data-section-type="footer-categories">
                        <h5 class="footer-info-heading">
                            All Categories
                            <span class="expander"><i class="fa fa-chevron-circle-down"></i></span>
                        </h5>
                        <ul class="footer-info-list">
                            <li>
                                <a href="shop/index.html">Shop</a>
                            </li>
                            <li>
                                <a href="collections/index.html">Collections</a>
                            </li>
                            <li>
                                <a href="accessories/index.html">Accessories</a>
                            </li>
                            <li>
                                <a href="categories.html"><strong>View All</strong></a>
                            </li>
                        </ul>
                    </article>

                    <article class="col-lg-4 col-sm-12 footer-info collapsed-block" data-section-type="storeInfo">
                        <h5 class="footer-info-heading">
                            Contact Us
                            <span class="expander"><i class="fa fa-chevron-circle-down"></i></span>
                        </h5>
                        <div class="footer-info-list">
                            <address><i class="fa fa-map-marker"></i> Addresses : 685 Market Street San Francisco,
                                CA 94105</address>

                            <address><i class="fa fa-phone"></i> Call us now : Call us at (+84) 4567 421 978
                            </address>
                            <address>
                                <i class="fa fa-envelope"></i>
                                Email : <a href="mailto:contact@Core.com">contact@Core.com</a>
                            </address>
                        </div>

                        <div class="module sb-banner sb-banner--downloadApp ">

                            <div class="block-content clearfix d-flex flex-row">



                                <div class="banners">
                                    <div class="banner-figure">

                                        <a href="#"><img class="img-fluid"
                                                src="/public/asset3/s-ghg2xirqxi/content/site/app/app-qrcode.png"
                                                alt="qrcode" /></a>
                                    </div>

                                </div>


                                <div class="banners">
                                    <div class="banner-figure">

                                        <a href="#"><img class="img-fluid"
                                                src="/public/asset3/s-ghg2xirqxi/content/site/app/app-store.png"
                                                alt="Apple Store" /></a>
                                    </div>

                                </div>


                                <div class="banners">
                                    <div class="banner-figure">

                                        <a href="#"><img class="img-fluid"
                                                src="/public/asset3/s-ghg2xirqxi/content/site/app/google-play.png"
                                                alt="Google Play" /></a>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </article>

                </div>
            </div>
        </div>


    </section>

    <section class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="footer-copyright col-sm-12">
                    <span class="powered-by">&copy; 2024 Ecommerce SB Core - Home3 </span>
                    <span class="powered-by">Powered by <a href="https://www.bigcommerce.com/"
                            rel="nofollow">BigCommerce</a>. Designed by <a href="http://www.Coretheme.com/"
                            target="_blank">Coretheme.com</a></span>
                </div>

                <div class="col-sm-12 ">
                    <div class="footer-payment-icons">
                        <svg class="footer-payment-icon">
                            <use xlink:href="#icon-logo-american-express"></use>
                        </svg>
                        <svg class="footer-payment-icon">
                            <use xlink:href="#icon-logo-discover"></use>
                        </svg>
                        <svg class="footer-payment-icon">
                            <use xlink:href="#icon-logo-mastercard"></use>
                        </svg>
                        <svg class="footer-payment-icon">
                            <use xlink:href="#icon-logo-paypal"></use>
                        </svg>
                        <svg class="footer-payment-icon">
                            <use xlink:href="#icon-logo-visa"></use>
                        </svg>
                    </div>
                </div>

                <div class="footer-geotrust-ssl-seal">
                    <table
                        title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
                        <tr>
                            <td>
                                <script type="text/javascript"
                                    src="https://seal.geotrust.com/getgeotrustsslseal?host_name=http://sb-Core.mybigcommerce.com/&amp;size=M&amp;lang=en"></script>
                                <br />
                                <a href="http://www.geotrust.com/ssl/" target="_blank"></a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </section>

    <section class="sb-backtotop">
        <div class="container">
            <div class="back-fixed-panel">
                <div class="back-panel-shares" data-role="sharesArea">
                </div>
                <div class="back-panel-operation">
                    <div class="back-panel-unit back-totop"><i class="fa fa-angle-up"></i></div>
                </div>
            </div>

        </div>
    </section>



</footer>