@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");

.header {
    padding-left: 3.15vw;
    padding-right: 3.15vw;
    background-color: transparent;
    position: relative;
    z-index: 100;
}

.sticky-wrapper .header-middle.fixed {
    background-color: #222;
    padding-left: 3.15vw;
    padding-right: 3.15vw;
}

.sticky-wrapper .header-middle.fixed .cart-dropdown .dropdown-toggle,
.sticky-wrapper .header-middle.fixed .compare-dropdown .dropdown-toggle,
.sticky-wrapper .header-middle.fixed .search-toggle {
    color: #fff;
    transition: all 0.3s;
}

.sticky-wrapper .header-middle.fixed .cart-dropdown .dropdown-toggle:hover,
.sticky-wrapper .header-middle.fixed .cart-dropdown .dropdown-toggle:focus,
.sticky-wrapper .header-middle.fixed .compare-dropdown .dropdown-toggle:hover,
.sticky-wrapper .header-middle.fixed .compare-dropdown .dropdown-toggle:focus,
.sticky-wrapper .header-middle.fixed .search-toggle:hover,
.sticky-wrapper .header-middle.fixed .search-toggle:focus {
    color: #fcb941;
}

.mobile-menu-toggler {
    color: #fff;
}

.mobile-search .icon-search {
    font-size: 1.2rem;
}

.header-top {
    display: flex;
    border-bottom: 0.1rem solid rgba(235, 235, 235, 0.2);
}

.header-top .header-dropdown > a,
.header-top .header-dropdown > span,
.header-top .top-menu a,
.header-top .top-menu {
    color: #fff;
}

.header-top a:hover,
.header-top a:focus {
    color: #fcb941;
}

.header-middle {
    border: none;
    position: relative;
    display: flex;
}

.header-center {
    margin-left: auto;
    margin-right: auto;
}

.cart-dropdown .dropdown-toggle,
.compare-dropdown .dropdown-toggle,
.search-toggle {
    color: #fff;
}

.cart-dropdown .dropdown-toggle:hover,
.cart-dropdown .dropdown-toggle:focus,
.compare-dropdown .dropdown-toggle:hover,
.compare-dropdown .dropdown-toggle:focus,
.search-toggle:hover,
.search-toggle:focus {
    color: #fcb941;
}

.header-middle .header-right {
    margin-left: 0;
}

.sticky-wrapper .header-middle {
    display: flex;
}

.menu > li > a {
    color: #333;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: -0.01em;
    padding: 3.5rem 3rem;
    text-transform: uppercase;
}

.menu.sf-arrows > li > .sf-with-ul {
    padding-right: 1.5rem;
}

.menu.sf-arrows .sf-with-ul::after {
    top: 49%;
    right: 0;
}

.main-nav {
    margin-left: 0;
}

.wishlist .wishlist-count {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    margin-top: 0.1rem;
}

.cart-dropdown .cart-count,
.wishlist .wishlist-count {
    min-width: 1.7rem;
    height: 1.7rem;
    margin-bottom: 1.7rem;
    margin-left: -1.2rem;
    background-color: #fcb941;
    color: #222;
}

.wishlist {
    padding-left: 2.4rem;
}

.wishlist a {
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.wishlist a:hover,
.wishlist a:focus {
    color: #fcb941;
}

.header .icon-search {
    font-size: 2.6rem;
}

.header .icon-heart-o {
    font-size: 2.8rem;
}

.header .icon-shopping-cart {
    font-size: 3.2rem;
}

.menu.sf-arrows > li > .sf-with-ul {
    font-size: 1.4rem;
    font-family: 'Poppins';
    letter-spacing: 0.01em;
    color: #fff;
    transition: all 0.3s;
}

.menu.sf-arrows > li > .sf-with-ul:hover,
.menu.sf-arrows > li > .sf-with-ul:focus {
    color: #fcb941;
}

.menu li:hover > a,
.menu li.show > a,
.menu li.active > a {
    color: #fcb941;
}

.btn-outline-primary-2 {
    color: #fcb941;
    background-color: transparent;
    background-image: none;
   
}